.header__lang-link {
    font-weight: normal;
    font-size: 1.5em;
    line-height: 28px;
    text-decoration: none;
    color: #fff;
    margin-left: 18px;
    
}

.link-underline {
    text-decoration: underline;
}

.header__lang-link:hover {
    text-decoration-line: underline;
}

@media screen and (max-width: 320px) {
    .header__lang-link {
        padding:0;
        margin-left: 18px;
        font-size: 1.125em;
        line-height: 24px;
    
        
    }
}