.lead__title{
    max-width: 720px;
    font-family: Inter;
    font-weight: 900;
    font-size: 6em;
    line-height: 100px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
    padding: 0;
}


@media screen and (max-width: 1024px){
   
}

@media screen and (max-width: 760px){
    
}

@media screen and (max-width: 320px){
    .lead__title{
        font-size: 40px;
        max-width: 288px;
        line-height: 44px;
        margin-left: 16px;
    
    }
}