.places__list {
    padding: 0 148px;
    margin:0;
    list-style: none;
}
@media screen and (max-width: 1100px) {
    .places__list {
        padding: 0 100px;
    }
}

@media screen and (max-width: 1024px) {
    .places__list {
        padding: 0 48px;

    }
}

@media screen and (max-width: 680px) {
    .places__list {
        padding: 0 35px;
    }
}


@media screen and (max-width: 768px) {
    .places__list {
        padding: 0 24px;
    }
}

@media screen and (max-width: 320px) {
    .places__list {
        padding: 0 0 0 0;
    }

}