@import url(./__image/place__image.css);
@import url(./__main-text/place__main-text.css);
@import url(./__paragraph/place__paragraph.css);
@import url(./__title/place__title.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__website/place__website.css);
@import url(./__link/place__link.css);


.place {
    display: grid;
    grid-template-columns: minmax(460px, 460px) fit-content(50%);
    grid-template-areas:"title website" "image main-text";
    padding: 0 0 80px;
    margin: 0;
    gap: 48px 40px;
}


@media screen and (max-width: 1024px) {
    .place {
        grid-template-columns: minmax(440px, 440px) fit-content(50%);
        gap: 48px 32px;
        padding: 0 0 80px;
    }
}
@media screen and (max-width: 900px) {
    .place {
        grid-template-columns: minmax(440px, 440px) fit-content(50%);
        gap: 38px 30px;
        padding: 0 0 70px;
    }
}


@media screen and (max-width: 768px) {
    .place {
        grid-template-columns: minmax(340px, 340px) fit-content(50%);
        gap: 22px 28px;
        padding: 0 0 167px;
    }
}



@media screen and (max-width: 675px) {
    .place {
        display: flex;
        flex-direction: column;
        padding: 0 0 48px;
    }
}
@media screen and (max-width: 536px) {
    .place {
        display: flex;
        flex-direction: column;
        padding: 0;
    }
}


@media screen and (max-width: 320px) {
     
}


  